<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/editmemostyle.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/?_method=patch">
      <input type="text" name="message" value=<%= content_body %>>
      <button
        type="“submit”"
        formaction="/?_method=patch"
        name="edited"
        value=<%= id %>
        >
        変更
      </button>
    </form>
  </body>
</html>

