<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/newmemostyle.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/">
      <input type="text" name="message" /><br />
      <input type="submit" value="保存" />
    </form>
  </body>
</html>
