body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  display: inline;
  margin-right: 100px;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin-top: -200px;
  background: #c0c0c0;
}

a {
  color: #00b7ff;
}
